/* 
    General Styles
*/
// button:active{
//     background:olive;
// }

// button:focus{
//     background:olive;
// }
.navpad {
    padding-bottom: 10px;
}

.contactcus {
    padding-top: 5%;
}

.buttonspace {
    padding: 5px;
    margin: 2px;
}
